.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Add this CSS to your stylesheet or style block */
.form-horizontal .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-horizontal .form-group .form-label {
  flex: 0 0 120px; /* Adjust the width of the label as needed */
  margin-right: 10px; /* Add margin between label and select */
}

.form-horizontal .form-group .form-select {
  flex: 1; /* Use all available space for select */
}
.social-label {
  margin-top: 1rem; /* or adjust the margin value as needed */
}